main {
  width: 80%;
  border-radius: 1rem;
  margin: 2rem auto;
  box-shadow: 0px 0px 16px 0px rgba(227, 227, 227, 0.5);
}

main .container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem .5rem;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

main .container-img{
  display: none;
}

main .container-form .login_icons a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main .container-form .login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.125rem 0;
}

main section .login div {
  display: flex;
  flex-direction: column;
  width: 90%;
}

main section .login div:nth-child(3) {
  flex-direction: row;
  gap: 0.5rem;
  font-size: 14px;
  /* margin-top: ; */
}

main section .login div:nth-child(3) label {
  font-weight: 200;
  margin: 0;
}

main section .login div:nth-child(3) input {
  margin: 0;
}

main .container-form .login div:last-child {
  align-items: end;
  margin: 1rem 0px;
  width: 100%;
}

main .container-form .login div:last-child a {
  text-decoration: none;
  color: rgb(194, 194, 194);
  font-size: 14px;
  position: relative;
  right: 28px;
  top: 8px;
}

main .container-form .login label {
  color: hsl(0, 0%, 75%);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

main .container-form .login input {
  margin-bottom: 1rem;
  border: 0px;
  border-bottom: 1px solid rgb(65, 65, 65);
  padding: 4px 0.375rem;
  outline: none;
  background-color: transparent;
  color: white;
  display: block;
}

main .container-form .login input:focus {
  border-color: rgb(216, 216, 216);
  outline: none;
}

/* boton */

main .container-form .buton_form {
  padding: 6px 0;
  width: 80%;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 8px 1px rgba(227, 227, 227, 0.5);
  margin: 0 auto;
  cursor: pointer;
}

/* -------- */

main .container-form .login_icons{
    display: flex;
    flex-direction: column;
    padding: 8px 0 ;
    width: 100%;
    align-items: center;
}

main .container-form .login_icons img{
    width: 24px;
}

main .container-form .login_icons div{
    color: rgb(162, 162, 162);
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 768px) {

  main {
    margin-top: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    width: 80%;
    gap: .75rem;
  }

  main .container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  main .container-img img{
    width: 100%;
    /* height: 50%; */
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
    /* aspect-ratio: 16/9; */
  }

  main .container-form{
    width: 60%;
    margin: 0;
  }

  main .container-form .login div:last-child{
    margin: 1.25rem 0;
  }

  main .container-form .login div:last-child a{
    right: 15%;
  }

  main .container-form .buton_form{
    padding: 8px 0;
    width: 70%;
    transition: all ease 300ms;
  }

  main .container-form .buton_form:hover{
    /* transform: scale(1.1); */
    background-color: rgb(200, 200, 200);
  }
  
}

@media (min-width: 1024px){
  main{
    width: 85%;
  }
}
