* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  font-weight: lighter;
  height: 100vh;
  /* background-color: rgb(10, 10, 10); */
  color: white;
}

main .title{
  text-align: center;
  text-shadow: 0px 2px 5px rgb(125, 125, 125);
}