:root {
  --primary: rgb(0, 0, 0);
  --white: rgba(255, 255, 255);
}

header {
  /* padding: 1rem 0.625rem; */
  width: 100%;
}

.nav {
  width: 100%;
  /* height: 2rem; */
  color: white;
  border-bottom: 1px solid grey;
}

.nav_checkbox {
  display: none;
}

.nav .nav_toggle {
  position: absolute;
  cursor: pointer;
  margin: 0 1rem;
  right: 0;
}

.nav_toggle .close {
  display: none;
}

/* .nav_toggle .close,
.nav_toggle .menu {
  margin-top: 0.3rem;
} */

.nav .nav-ul a {
  text-decoration: none;
  color: inherit;
  font-size: 1.1rem;
}

.nav .nav-ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
}

.nav .nav-ul li {
  display: none;
  list-style-type: none;
}

.nav .nav-ul li:first-child{
  display: block;
  margin-right: auto;
  font-weight: bold;
}

.nav .nav_toggle .menu{
  height: 30px;
}

#nav_checkbox:checked ~ ul.nav-ul li{
  display: block;
}

#nav_checkbox:checked ~ label.nav_toggle.close{
  display: block;
}

#nav_checkbox:checked ~ label.nav_toggle.menu{
  display: none;
}

@media only screen and (min-width: 560px) {
  .nav_toggle {
    display: none;
  }

  .nav .nav-ul{
    flex-direction: row;
  }

  .nav .nav-ul li {
    display: block;
  }
}
